<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">
  <meta charset="UTF-8">
  <link th:href="@{../../static/assets/css/styles.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>SprinBoot Training</title>
</head>


<body>
<nav th:fragment="header">
  <div class="header-container">

  </div>
</nav>
<p>Go to the next page to see fragments in action</p>
<!--<aside>-->
<!--  <div>This is a sidebar</div>-->
<!--</aside>-->
<!--<div class="another">This is another sidebar</div>-->
<!--<footer th:fragment="footer">-->
<!--  <a th:href="@{/templates/fragments}">Fragments Index</a> |-->
<!--  <a th:href="@{/markup}">Markup inclussion</a> |-->
<!--  <a th:href="@{/params}">Fragment params</a> |-->
<!--  <a th:href="@{/other}">Other</a>-->
<!--</footer>-->
</body>
</html>