<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headFragment}"></head>

<body>
  <h1>Registrazione nuovo utente</h1>
  <h6>[ADMIN ROLE]</h6>
  <br>
  <br>

  <form action="#" th:action="@{user/create}" th:object="${newUser}" method="post">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputFirstName"></label>
        <input th:field="${newUser.firstName}"  type="text" class="form-control" placeholder="Inserisci il tuo nome..." id="inputFirstName" required>
      </div>
      <div class="form-group col-md-5">
        <label for="inputLastName"></label>
        <input th:field="${newUser.lastName}"  type="text" class="form-control" placeholder="Inserisci il tuo cognome..." id="inputLastName" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username"></label>
        <input th:field="${newUser.username}"  type="text" class="form-control" placeholder="Crea il tuo username..." id="username" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="email"></label>
        <input th:field="${newUser.email}"  type="email" class="form-control" id="email" placeholder="Inserisci la tua email..." required>
      </div>
      <div class="form-group col-md-5">
        <label for="checkEmail"></label>
        <input th:field="${newUser.checkEmail}"  type="email" class="form-control" id="checkEmail" placeholder="Conferma la tua email..." required>
      </div>
      <!--TODO:TOLTO PER TASK SU ACTIVATION TOKEN-->
<!--      <div class="form-group col-md-5">-->
<!--        <label for="password"></label>-->
<!--        <input th:field="${newUser.password}" type="password" class="form-control" id="password" placeholder="Scegli una password..." required>-->
<!--      </div>-->
<!--      <div class="form-group col-md-5">-->
<!--        <label for="checkPassword"></label>-->
<!--        <input th:field="${newUser.checkPassword}"  type="password" class="form-control" id="checkPassword" placeholder="Repeti la nuova password" required>-->
<!--      </div>-->
    </div>
        <!--TODO:TOLTO PER TASK SU ACTIVATION TOKEN-->
<!--    <div>-->
<!--      <h6>La password deve contenere:</h6>-->
<!--      <ul>-->
<!--        <li>Minimo 8 caratteri</li>-->
<!--        <li>Almeno un numero</li>-->
<!--        <li>Almeno una lettera maiuscola</li>-->
<!--        <li>Almeno una lettera minuscola</li>-->
<!--      </ul>-->
<!--    </div>-->

    <br>
    <br>
    <!--TODO:TOLTO PER TASK SU ACTIVATION TOKEN-->
<!--    <div class="form-row">-->
<!--      <div class="form-group col-md-4">-->
<!--        <div class="form-check">-->
<!--          <input th:field="${newUser.flagAttivo}"  class="form-check-input" type="checkbox" id="gridCheck">-->
<!--          <label class="form-check-label" for="gridCheck">-->
<!--            Utente Attivo-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--      TODO SISTEMARE LA SELECT PER L'INSERIMENTO DEI GRUPPI-->
      <div class="form-group col-md-4">
        <label for="group">Gruppi</label>
        <select th:field="${newUser.groups}" name="groups" id="group" class="form-control">
          <option value="" selected>Scegli...</option>
          <option th:value="'1'" th:text="ADMIN"></option>
          <option th:value="'2'" th:text="READER"></option>
          <option th:value="'3'" th:text="WRITER"></option>
          <option th:value="'4'" th:text="CREATOR"></option>
          <!--          <option th:each="group : ${groups}"-->
<!--                  th:value="${group.id}"-->
<!--                  th:text="${group.description}"></option>-->
        </select>
      </div>

<!--      TODO INSERIRE UN BOX DOVE VENGONO INSERITE LE SCELTE DAL SELECT E DEVONO POTER ESSERE ELIMINTE-->
      <div></div>

    </div>

    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Registra Utente</button>
    <button type="reset" class="btn btn-danger" onclick="location.href='user/all/view'">Annulla</button>
  </form>
</body>
</html>