<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/general.html :: headFragment}"></head>
<body>
  <h1>Crea una password efficace per completare la registrazione</h1>
  <br>
  <br>
  <br>
  <br>
  <form action="#" th:action="@{'/user/register/password/' + ${userToActivate.id}}"  method="post" >
    <div class="form-row">
       <div class="form-group col-md-5">
        <label for="password"></label>
        <input  name="password" type="password" class="form-control" id="password" placeholder="Scegli una password..." required>
      </div>
      <div class="form-group col-md-5">
        <label for="checkPassword"></label>
        <input  name="checkPassword" type="password" class="form-control" id="checkPassword" placeholder="Repeti la nuova password" required>
      </div>
    </div>
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Conferma</button>
    <button type="reset" class="btn btn-danger" onclick="location.href='home'">Annulla</button>
  </form>
  <div>
    <h6>La password deve contenere:</h6>
    <ul>
      <li>Minimo 8 caratteri</li>
      <li>Almeno un numero</li>
      <li>Almeno una lettera maiuscola</li>
      <li>Almeno una lettera minuscola</li>
    </ul>
  </div>
</body>
</html>