*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    background-color: silver;
    border-radius: 20%;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
